@import "../../App.css";
.page-conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  margin-top: 100px;
}

.page-conocenos .container-header {
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-conocenos .title-conocenos {
  color: var(--green-color-third);
}
.page-conocenos .title-conocenos {
  font-size: 85px;
}
@media screen and (max-width: 750px) {
  .page-conocenos .title-conocenos {
    font-size: 75px;
  }
}

@media screen and (max-width: 500px) {
  .page-conocenos .title-conocenos {
    font-size: 65px;
  }
}

/* start section-quienesSomos */
.section-quienesSomos {
  display: flex;
  padding: 10px 20px;
  background: var(--orange-color);
  border-radius: 15px;
  max-width: 1100px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: -50px;
}
@media screen and (max-width: 981px) {
  .section-quienesSomos {
    max-width: 600px;
  }
}
.section-quienesSomos .container-content {
  padding: 15px 25px;
  text-align: center;
  width: 450px;
  gap: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  outline: solid 2px rgba(0, 0, 0, 0.2);
  outline-offset: -10px;
}
.section-quienesSomos iframe {
  border-radius: 15px;
  width: 450px;
  height: 250px;
}

/* end section-quienesSomos */

/* start section-misionVision */
.section-misionVision {
  display: flex;
  max-width: 1200px;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -70px;
}

/* end section-misionVision */

/* start section-equipo */
.section-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1150px;
}
.section-equipo hr {
  width: 100%;
  height: 3px;
  background: var(--orange-color);
  border: none;
  opacity: 1;
}
.section-equipo .title-equipo {
  color: var(--green-color-third);
  text-align: center;
  margin-top: -40px;
  background-color: white;
}

@media screen and (max-width: 750px) {
  .section-equipo .title-equipo {
    font-size: 45px;
  }
}
.section-equipo .container-workers {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
/* end section-equipo */
