@import "../../App.css";
.page-conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}
/* start section-conocenos */
.section-conocenos {
  background-image: url("../../assets/images/wave1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-conocenos .container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}
.section-conocenos .container-content {
  max-width: 550px;
  background: rgba(255, 255, 255, 0.5);
  padding: 25px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  justify-content: center;
}

.section-conocenos .title-quienesSomos {
  font-size: 4rem;
}

@media screen and (max-width: 515px) {
  .section-conocenos .title-quienesSomos {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .section-conocenos .container {
    margin-top: 170px;
  }
  .section-conocenos .container-content {
    max-width: 350px;
  }
  .section-conocenos .title-quienesSomos {
    font-size: 3rem;
  }
}
.section-conocenos iframe {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}
/* end section-conocenos */

/* start section-misionVision */
.section-misionVision {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-misionVision .container-cardsMisionVision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  width: 90vw;
}

@media screen and (max-width:1400px) {
  .section-misionVision .container-cardsMisionVision {
    flex-direction: column;
  }
}
/* end section-misionVision */

/* start section-equipo */
.section-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1150px;
  justify-content: center;
}

.section-equipo .title-equipo {
  text-align: center;
  background-color: white;
}

@media screen and (max-width: 750px) {
  .section-equipo .title-equipo {
    font-size: 45px;
  }
}
.section-equipo .container-workers {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
/* end section-equipo */
