/* start navbar top */

.navbar-top-container {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar-top-container .LogoBioplan {
  width: 150px;
}
.img-logoBioplan .LogoBioplan {
  width: 100px;
}
@media only screen and (max-width: 662px) {
  .navbar-top-container {
    flex-direction: column;
    justify-content: center;
  }
}

.navbar-top-container .container-icons {
  display: flex;
  align-items: center;
}
.container-icons .buttonStyle {
  background-color: var(--orange-color);
}
.container-icons .buttonStyle:hover {
  background-color: darkorange;
}
.container-icons .buttonStyle:focus {
  background-color: darkorange;
}

.container-icons .icon {
  margin-right: 15px;
}

a .icon {
  width: 20px;
}
/* end navbar top */

/* start navbar bot */

.navbar-bot-container .conatiner-button {
  display: flex;
  justify-content: center;
  background-color: var(--green-color-third);
}

.navbar-bot-responsive{
  display: none;
}

/* end navbar bot */


/* estart navbar bot responsive */
@media only screen and (max-width: 662px) {
  .navbar-bot-container, .navbar-top-container{
    display: none;
  }
  .navbar-bot-responsive{
    display: flex;
  }
}
/* end navbar bot responsive*/
