.container_misionVision {
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.container_misionVision .container-content {
  padding: 25px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.container_misionVision .img-mision-vision{
 max-width: 450px;
 padding: 25px;
}


.Mision{
  flex-direction: row;
}

.Vision{
  flex-direction: row-reverse;
}