.container_misionVision {
  max-width: 500px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.container-content {
  background: rgba(3, 139, 129, 0.7);
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.img-Mision {
  background-image: url(/src/assets/images/image-Mision.jpg);
}
.img-Vision {
  background-image: url(/src/assets/images/image-Mision.jpg);
}
