:root {
  /* colors palete */
  --orange-color: #f37835;
  --white-color: #fefefe;

  /* green Colors */
  --green-color-first: #66bf5b;
  --green-color-second: #038b81;
  --green-color-third: #136734;

  /* fonts */
}
